.className{
    text-align: center;
    flex-direction: row;
}
/* .newsdiv{
    height: 300px;
    width: 800px;
    border: 2px solid black;
    float: left;
    display: inline-block;
} */

.newsdiv1{
    float: left;
    display: inline;
}
.newsdiv h1{
    color: rgb(0, 39, 39);}
